.texto-destacado {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #495057;
    background-color: #f8f9fa;
    padding: 20px;
    border-left: 5px solid #0d6efd; /* Línea decorativa */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centra el contenedor */
    width: 90%; /* Ajusta el ancho */
}

.contenedor-ajustado {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;     /* Centra el contenido verticalmente */
    height: 100%;            /* Asegura que el contenedor ocupe toda la altura disponible */
    padding: 20px;
}


.download-image {
    max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    margin-bottom: 20px; /* Espacio debajo de la imagen */
    display: block;   /* Asegura que la imagen se comporte como un bloque */
    margin-left: auto;  /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
}


/* Estilo para la tabla de descarga */
.download-table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Tres columnas: nombre del archivo, fecha y botón */
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilo de las filas */
.download-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Las tres columnas dentro de cada fila */
    gap: 10px;
    align-items: center;
}

/* Estilo de los elementos */
.file-name, .file-date, .download-btn-container {
    padding: 10px;
    background-color: #465e90;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
}

/* Estilo para los botones */
.download-btn {
    background-color: #2168d4;
    color: white;
    padding: 5px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Estilo para los encabezados de la tabla */
.download-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Tres columnas para el encabezado */
    gap: 10px;
    font-weight: bold;  /* Hacemos que el texto del encabezado sea negrita */
    background-color: #dfdfdf;
    padding: 10px;
    border-radius: 5px;
}